{% extends "base.html" %} {% load static %}
{% block title %}
<title>MeetApp | Profile</title>
{% endblock title %}
{% block content %}
    <div style="height: 80%;  border: 1px rgb(211, 206, 206) solid; width: 80%;margin-left: 10%;">
        <h3 style="font-weight: bolder;margin-left: 15px; margin-top: 10px;">{{ user.username.title }}</h3>
        <hr style="margin-top: 0; background-color: rgb(211, 208, 208); width: 70%; margin-left: 0;">
        <div style="width: 230px; height: 200px;float: right; margin-right: 40px; margin-top: -50px; border: 1px rgb(211, 206, 206) solid;">
            {% if facebook_login %}
            <a href="#"><img data-toggle="tooltip" data-placement="bottom" title="Change your picture" src="{{facebook_login.extra_data.picture.data.url}}" alt="{{ user.name }}" height="100%" width="100%"></a>
            {% elif twitter_login %}
            <a href="#"><img data-toggle="tooltip" data-placement="bottom" title="Change your picture" src="{% static 'images/group.png' %}" alt="{{ user.name }}" height="100%" width="100%"></a>
            {% else %}
            {% if user.profile.avatar %}
            <a href="#"><img data-toggle="tooltip" data-placement="bottom" title="Change your picture" src="{{user.profile.avatar.url}}" alt="" height="100%" width="100%"></a>
            {% else %}
            <a href="#"><img data-toggle="tooltip" data-placement="bottom" title="Change your picture" src="{% static 'images/group.png' %}" alt="" height="100%" width="100%"></a>
            {% endif %}
            {% endif %}
        <div style="width: 230px; height: 200px;float: right; margin-right: 0px; margin-top: 0px;">
            <span><a href="#" style="font-size: small; justify-content: center; margin-left: 20%;color: blue;">Change your picture</a></span>
            <hr style="margin-top: 5px;background-color: rgb(211, 208, 208);">
            <span style="margin-top: 20px;"><h5><span style="font-weight: bold;">Interests</span></h5></span>
            <hr style="margin-top: 2px;background-color: rgb(211, 208, 208);">
            {% for interest in user.profile.interests.all %}
                <span><a href="#" style="font-size: small; color: blue; margin-right: 2px;">{{ interest }}</a>.</span>
            {% endfor %}
            <br>            
        </div>
        </div>
        <div style="width: 70%; height: 87%;">
            <div style="float: left;width: 33%; margin: 1px; height: 20%;">
                <p style="margin: 5px;"><span style="font-weight: bold;">Location:</span> <br>
                <a href="https://en.wikipedia.org/wiki/{{ user.profile.location }}" style="color: blue; text-decoration: underline; font-size: 15.5px;"><span>{{ user.profile.location }}</span></a>
                <br>
                <span style="font-size: small;">Hometown: <span>{{ user.profile.hometown.title }}</span> </span>
                </p>
            </div>
            <div style="float: left;width: 33%; margin: 1px;height: 20%;">
                <p style="margin: 5px;"><span style="font-weight: bold;">Date Joined MeetApp:</span> <br>
                <span>{{ user.profile.datejoined|date }}</span> </p>
            </div>
            <div style="float: left;width: 33%; margin: 1px;height: 20%;">
                <p>Add Later</p>
            </div>
            <div style="float: left; width: 100%; height: 25%; margin-top: 10px;">
                <p style="margin: 5px;"><span style="font-weight: bold;">Bio:</span> <br> 
                    <span>{{ user.profile.bio }}</span>
                    <form method="POST">
                        <span style="margin: 5px;"><a href="#" style="color: blue;text-decoration: underline;">Edit</a></span>
                    {% csrf_token %}
                    </form>
                </p> <hr style="background-color: rgb(211, 208, 208);">
            </div>
            <div style="width: 100%;float: left;margin-top: 30px;height: 45%;">
                <p>
                    <h4 style="font-weight: bold;" class="ml-3">Member of {{ counter }} Meetings</h4>
                </p> <hr style="background-color: rgb(211, 208, 208);">
                {% for group in groups %}
                {% if group.organizer_name == request.user %}
                <div style="float: left; width: 50%;height: 30%;">
                    <div style="width: 20%;float: left;height: 100%;">
                        <a href="#" style="margin-left: 10px;">
                            <img src="{% static 'images/group.png' %}" alt="" data-toggle="tooltip" data-placement="bottom" title="{{ group.name }}">
                        </a>
                    </div>
                    <div style="width: 80%;float: left; height: 100%;">
                        <p><a href="{% url 'group_detail' %}" style="color: black;text-decoration: none;font-weight: bold;" data-toggle="tooltip" data-placement="right" title="{{ group.name }}">{{ group.name }}</a> <br>
                            <span style="margin-top: 5px;"><a href="#" style="color: black;text-decoration: none;">Members</a></span>
                        </p>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            </div>
        </div>
{% endblock content %}