<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <form method="POST">
       {% csrf_token %}
        <h2>Create a Group</h2>
        <br>
        <input type="text" name="location" placeholder="Set your group's location" required> <br> <br>
        <div id="city"><span>Your current location: </span> Loading...<span><a href="#">change</a></span></div> <br>
        <input type="text" name="topics" placeholder="Choose topics of your group" required> <br>
        <p>Suggested groups based on the number of members</p> <br>
        <input type="text" name="name" placeholder="A group must have a name" required> <br>
        <p>Review Terms & Conditions before Group Creation.</p> <br>
        <input type="submit" value="Create">
   </form>

   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>    
    <script>
        $.get("https://ipinfo.io",function(response){
            $("#city").html("City: <b>"+response.city+","+response.country+"</b>");
        }, 'jsonp');
    </script>
</body>
</html>