<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
   <form method="POST">
       {% csrf_token %}
        <h2>Create a Group</h2>
        <br>
        <input type="text" placeholder="Set your group's location" required> <br>
        <input type="text" placeholder="Choose topics of your group" required> <br>
        <p>SUggested groups based on the number of members</p> <br>
        <input type="text" placeholder="A group must have a name"> <br>
        <p>Review Terms & Conditions before Group Creation.</p>
   </form>
</body>
</html>